{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style='text-align: center; font-size: 53pt;'>About</div>
<div style='display: flex; justify-content: center; align-items: center;'>
<br>
<div style="font-family: 'Ubuntu Mono', monospace; font-size: 23pt; width: 50%; text-align: center">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Perspiciatis fugiat voluptas laudantium expedita molestiae saepe? 
At, enim ratione natus eum reprehenderit eveniet recusandae nihil cum quod ipsa nobis distinctio nam?
</div>

</div>
{% endblock content %}
