{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style='font-size: 53pt; text-align:center'>Login</div>
<div style='text-align: center; position: relative; margin-top: 3%'>
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login" class='btn btn-success'>
    </form>
    
    
    {% if error %}
    <br>
    <p class='alert alert-danger' style='width: 25%; margin:auto'>{{ error }}</p>
        
    {% endif %}
</div>
    

{% endblock content %}

